<%- include('../partials/header'); %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8">
            <form action="/movies/<%=movieId%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                <div class="alert alert-info" role="alert">
                    <h4>Edit Comment</h4>
                </div>
                <div class="form-group">
                    <label for="tippani">Comment</label>
                    <textarea class="form-control" id="tippani" rows="3" name="comment[text]"
                        required><%= comment.text %> </textarea>
                </div>
                <div class=" form-group">
                    <label for="rating">Rating</label>
                    <input class="star star-5" id="star-5" type="radio" value="5" name="comment[rating]" />
                    <label class="star star-5" for="star-5"></label>

                    <input class="star star-4" id="star-4" type="radio" value="4" name="comment[rating]" />
                    <label class="star star-4" for="star-4"></label>

                    <input class="star star-3" id="star-3" type="radio" value="3" name="comment[rating]" />
                    <label class="star star-3" for="star-3"></label>

                    <input class="star star-2" id="star-2" type="radio" value="2" name="comment[rating]" />
                    <label class="star star-2" for="star-2"></label>

                    <input class="star star-1" id="star-1" type="radio" value="1" name="comment[rating]" />
                    <label class="star star-1" for="star-1"></label>

                </div>
                <div class="">
                    <!-- <button type="submit" class="btn btn-primary mx-auto">Submit</button> -->
                    <input type="submit" id="btnSubmit" class="btn btn-primary w-100" value="Submit" />
                </div>
            </form>
        </div>
        <hr>
        <div class="col-lg-3 col-md-2"></div>
    </div>
</div>

<%- include('../partials/footer'); %>