<%- include('../partials/header'); %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8">
            <div class="container">
                <form action="/dashboard?_method=PUT&id=<%= currentUser._id %> " method="POST">
                    <div class="alert alert-info" role="alert">
                        <h4>Edit user credentials</h4>
                    </div>
                    <div class="form-group">
                        <label for="puranaam">Full Name</label>
                        <input type="text" class="form-control" id="puranaam" name="user[fullName]"
                            value="<%= currentUser.fullName %> " required>
                    </div>
                    <div class="form-group">
                        <label for="chitti">Email</label>
                        <input type="email" class="form-control" id="chitti" name="user[email]"
                            value="<%= currentUser.email %> " required>
                    </div>

                    <div class="form-group">
                        <label for="maalik">Username</label>
                        <input type="text" class="form-control" id="maalik" name="user[username]"
                            value="<%=currentUser.username%>" required>
                    </div>
                    <div class="form-group">
                        <label for="kunji">old password</label>
                        <input type="password" class="form-control" id="kunji" name="user[oldpassword]"
                            placeholder="enter current password" required>
                    </div>
                    <div class="form-group">
                        <label for="kunji">new password</label>
                        <input type="password" class="form-control" id="kunji" name="user[newpassword]"
                            placeholder="enter new password" required>
                    </div>
                    <div class="">
                        <!-- <button type="submit" class="btn btn-primary mx-auto">Submit</button> -->
                        <input type="submit" class="btn btn-primary w-100" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>
    <hr>
</div>
<%- include('../partials/footer'); %>