<%- include('../partials/header'); %>

<div class="container" style="min-height: 700px;">

    <div class="jumbotron">
        <!-- <i class="fas fa-video"></i> -->
        <div class="container">
            <h1>Welcome To MovieBlog!</h1>
            <p>View our hand-picked Movie and Series reviews from all over the world</p>
            <div class="row">
                <div class="col-6 col-md-3 col-lg-2 my-2">
                    Add a review :
                </div>
                <div class="col-5 col-md-3 col-lg-2 my-2">
                    <a class="btn btn-block btn-outline-success mx-2" href="/movies/new">Add
                        own</a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <form action="/movies/new1" class="w-100" method="POST">
                        <div class="row w-100">
                            <div class="col-9 col-md-9">
                                <input class="form-control w-100" type="search" placeholder="add from internet"
                                    aria-label="Search" name="searchbyname" required>
                            </div>
                            <div class="col-3 col-md-3 pl-0">
                                <button class="btn btn-block btn-outline-success" type="submit"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="moviecontent">
        <% movies.forEach(function(currmovie){ %>
        <div class="col-12 col-sm-6 col-lg-4 mb-3" id="moviecard">
            <div class="card border-info mb-3 h-100">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="<%= currmovie.image %>" class="card-img m-md-1 m-sm-0" alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= currmovie.name %></h5>
                            <hr class="border-info">
                            <p class="card-text" align="justify">
                                <%- currmovie.review.substring(0,85)+"....."%>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <a class="btn btn-outline-info float-right mr-2" href="/movies/<%= currmovie._id %>">
                        Read more
                    </a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>


</div>

<!-- <img src="/images/cameraman.png" alt="O--O" id="cameraman">
<hr class="m-0"> -->

<%- include('../partials/contactfooter'); %>
<%- include('../partials/footer'); %>